html,
body,
#root {
  height: 100%;
}

/* global reset and defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #f0f0f0;
  line-height: 1.5;
  position: relative;
  background-color: #121212f7;
}

body::before {
  content: "";
  position: fixed;
  background-image: linear-gradient(rgba(63, 103, 189, 0.1), rgba(57, 181, 119, 0.1)), url('./assets/Gemini_Generated_Image_arlxhparlxhparlx.png');
  background-size: cover;
  backdrop-filter: blur(5px);
  background-position: center;
  background-repeat: repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
